markup/xml/pt1/activitat2/agenda.dtd

<!ELEMENT agenda (persona)*>
<!ELEMENT persona (nombre, email*, relacion*, fijo*, movil*)>
<!ATTLIST persona genero (hombre|mujer) #IMPLIED>
<!ATTLIST persona id CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT relacion (#PCDATA)>
<!ATTLIST relacion amigo_de CDATA #REQUIRED>
<!ELEMENT fijo EMPTY>
<!ELEMENT movil EMPTY>
